{% extends "base.html" %}
{% load static %}


{% block titulo %}Peticion | Crear{% endblock %}



{% block enlacessecundariosCSS %}
        
{% endblock %}


{% block menu_superior %}

        <!--Aqui se incluye el menu superior-->
        {% include "menusuperior.html" %}
        
{% endblock%}

{% block menu_lateral %}

        <!--Aqui se incluye el menu superior-->
        {% include "menulateral.html" with person="Jane" %}
            
{% endblock%}

{% block cuerpo %}

                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Petición</h1>
                            <ol class="breadcrumb mb-4">
                            </ol>





                            































                            
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    Crear Petición
                                </div>
                                <div class="card-body">

                                    <form action="#" method="POST" >  
                                        <table class="table table-sm table-striped">
                                          <thead>
                                          <tr>
                                            <th width="60%">Productos</th>
                                            <th width="20%">Calidad</th>
                                            <th width="20%">Cantidad(Kg)</th>
                                          
                                          </tr>
                                          </thead>
                                          
                                            
                                              {% csrf_token %}
                                              <tbody id="listaProductos">
                  
                  
                                                <tr id="clonacionProductos">
                                                  <td>
                                                    {{ form.productos }}
                                                    
                                                  <td>
                                                    {{ form.calidad }}
                                                    
                                                  <td> 
                                                    <div class="input-group input-group-sm">
                                                        {{form.cantidad}}
                                                       
                                                          <button type="button" class=" btn-info btn-flat" disabled >
                                                            <img src="{% static 'peticiones/svg/stop-btn.svg' %} " alt="POL">
                                                          </button>
                                                          
                                                    </div>
                                                  </td>

                                                  
                                                </tr>  
                                              </tbody>
                  
                                              <tfoot>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                        <div class="row">
                                                            <div class="btn-group btn-group-sm btn-block">
                                                                <button type="submit"  class="btn btn-sm btn-primary btn-flat" id="idGuardarTrabajo" >
                                                                <i class="fa fa-save"></i> Guardar
                                                                </button>
                                                                <button type="button"  class="btn btn-info btn-flat" id="AgregarProductoNuevo">
                                                                <i class="fa fa-plus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                </td>
                                              </tfoot>
                                        
                                          
                                            
                                        </table>
                                    </form>

                                    

                                </div>
                            </div>
                        </div>
                    </main>
                    <footer class="py-4 bg-light mt-auto">
                        <div class="container-fluid px-4">
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">Copyright &copy; Maipo Grande 2022</div>
                                <div>
                                    <a href="#">Privacy Policy</a>
                                    &middot;
                                    <a href="#">Terms &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            
            {% endblock%}



            {% block enlacessecundariosJS %}
                <script src="{% static 'peticiones/js/funciones_ordenes.js' %}"></script>
            {% endblock %}